.errorblock {
    text-align: center;
    color: #ff0000;
    background-color: #ffEEEE;
    border: 2px solid #ff0000;
    padding: 1px;
    margin: 1px;
}
.logo {
    display: inline-block;
    position: absolute;
    left: 100px;
    width: 382px;
    height: 193px;
    background: url(../img/craiser.png) no-repeat;
    opacity: 0.8;
    display: none;
    z-index : -1;
    /*margin-right: -60px;*/
}

a,a:active,a:visited,a:before, a:-webkit-any-link {
    text-decoration: none;
    color: #49afcd;
    /*display: block;*/
    text-shadow: 0 1px 20px rgba(255, 255, 255, 0.75);
}